* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: #091e3e;
  height: 8vh;
}

.header-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.header-left img {
  height: 12px;
  margin-right:5px;
}

.L-con {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.header-right ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-right a {
  padding: 12px;
  color: white;
}

.header-right a svg {
  transition: all 1.5s;
}

.header-right a svg:hover {
  fill: black;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;

}

.background {
  background: url("../img/carousel-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  opacity: .8;
  height: 93vh;
  width: 100%;
  position: absolute;
}

.main-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 999;
  background-color: #736af229;
  height: 12vh;
}

.nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(0, 0, 0);
}

.logo img {
  margin-right: 12px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.links ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 87%;
}

.links li a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  transition: linear 2s;
}

.links li:nth-child(1)::after {
  content: "";
  width: 80%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -10%;
  background-color: #000000;
}

.links li {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.links li a::after {
  content: "";
  background-color: #000000;
  width: 0%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -10%;
  transition: all 1s;
}

.links li a:hover::after {
  width: 100%;
  opacity: 0.6;
}

.links li:not(a:last-of-type) {
  margin-right: min(2vw, 2em);
}

.links button {
  font-size: large;
  font-weight: 700;
  margin-left: 2vw;
  padding: 1rem;
  background-color: blue;
  border: none;
  border-radius: 4px;
  color: white;
  transition: all .5s;
}

button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.633);
  color: #000000c7;
}

.line {
  align-self: center;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #2684ffb0;
}

.main-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 70vh;
  /* color: white; */
}

.main-text {
  width: 40%;
}

.main-text p {
  margin-bottom: 15px;

}

.main-text h1 {
  margin-bottom: 15px;
  font-size: 3rem;
  line-height: 4rem;
}

.btn-1 {
  font-size: large;
  font-weight: 700;
  margin-left: 2vw;
  padding: 1rem;
  background-color: rgb(68, 68, 245);
  border: none;
  border-radius: 4px;
  color: white;
  transition: all .5s;
}

.btn-1 button:hover {
  cursor: pointer;
  background-color: rgba(70, 175, 240, 0.736);
  color: #000000c7;
}

.btn-2 {
  font-size: large;
  font-weight: 700;
  margin-left: 2vw;
  padding: 1rem;
  background-color: transparent;
  color: #ffffff;
  border: 2px white solid;
  border-radius: 4px;
  transition: all .5s;
}

.btn-2:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.736);
  border: none;
  color: rgb(0, 0, 0);
}

.HPW {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 20vh;
  z-index: 99;
  background: #81b8ef00;
}

.rate {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 75%;
  justify-content: space-evenly;
}

.happy,
.win {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: #06a3da;
  color: rgb(255, 255, 255);
  padding: 1.4rem;
  width: 100%;
  height: 100%;
}

.happy button,
.win button {
  background-color: white;
  padding: 12px 0px;
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 15px;
}

.happy p,
.win p {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.happy h1,
.win h1 {
  font-size: 3rem;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #eef9ff;
  padding: 1.4rem;
  width: 100%;
  height: 100%;
}

.project p {
  font-size: 1.5rem;
  margin-bottom: 12px;
  color: #7088ff;
}
.project h1{
  font-size: 3rem;
  color:black;
}
.project button{
  background-color: #06a3da;
  padding: 12px 0px;
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 15px;
}